// --------------------------------------------------
// Buttons
// --------------------------------------------------

// Button global
// -------------------------

$colorBtn: $casablanca;
$colorBoxShadow: darken( $colorBtn, 15%);
$colorBtnHover: lighten($colorBtn, 12%);
$colorTextBtn: $blackPearl;

.btn {
	border-radius: 0;
	border: none;
	background-color: $colorBtn;
	color: $colorTextBtn;
	cursor: pointer;
	display: inline-block;
	line-height: normal;
	position: relative;
	font-family: $OpenSansBold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0 3px 0 $colorBoxShadow;
	z-index: 2;
	transition: all .25s ease;

	
	&:hover,
	&:active,
	&:focus{
		outline: none;
		text-decoration: none;
		background-color: $colorBtnHover;
	}
}

// Button sizes
// -------------------------

.btn-s {
	font-size: 1.2rem;
	padding: .6rem 1.2rem;
}

.btn-m {
	font-size: 1.4rem;
	padding: 1.2rem 3rem;
	letter-spacing: .2rem;
}

// Button colors
// -------------------------


