// mobile menu
// --------------------------------------------------

.toggle-menu {
	width: 6rem;
	height: 6rem;
	float: right;
	position: relative;
	border: none;
	background-color: $MobMnuBgColor;
	z-index: 250;

	span {
		display: block;
	}

	@include maxScreen($middle) {
		width: 5rem;
		height: 5rem;
	}
}

.mobile__menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .8);
	z-index: 150;
	display: none;
}

.mobile__menu-list, .mobile__menu-item {
	display: block;
	font-size: 1.4rem;
}

.mobile__menu-list {
	margin-top: 18rem;
	text-align: center;
}

.mobile__menu-link {
	display: block;
	text-transform: uppercase;
	padding: 4rem 0;
	letter-spacing: .3rem;
}

.mobile__menu-item {
	transition: all ease-out 0.5s;

	&:nth-child(1) a {
		animation-duration: .5s;
	}
	&:nth-child(2) a {
		animation-duration: 1s;
	}
	&:nth-child(3) a {
		animation-duration: 1.5s;
	}
	&:nth-child(4) a {
		animation-duration: 2s;
	}

	&:hover {
		background-color: rgba(0,0,0,.7);
	}
}
