// --------------------------------------------------
// Global Variables
// --------------------------------------------------

// Breakpoints
// -------------------------

$small: 480px;
$middle: 767px;
$large: 1024px;
$extraLarge: 1280px;
$highDefinition: 1920px;

// Colors
// -------------------------

$white:						#fff;
$whisper:					#e4e4e4;
$zambezi:					#5d5d5d;
$silver:					#bbb;
$nobel:						#A2A2A2;
$black:						#000;
$nero:						#1c1c1c;
$GunPowder:				#505051;
$astral:					#3C678C;
$arapawa:					#2A4760;
$casablanca:			#F3B55F;
$black:						#000;

// content colors
$colorTitle: $white;
$colorHeading: $black;
$colorText: $black;
$colorLink: $white;
$colorLinkHover: lighten( $casablanca, 0% );
$colorSocial: $nobel;
$colorTextCard: lighten( $astral, 45% ) ;


// overlayColor
// -------------------------

$topLineOverColor: rgba($black,.55);
$headerOverColor: rgba($black,.3);
$workingBgTopOverColor: rgba($GunPowder,.46);
$workingBgBottomOverColor: rgba($nero,.25);

// backgroundColor
// -------------------------

$headerBgColor: $GunPowder;
$MobMnuBgColor: lighten( $black, 15% );
$sectBgColor: $whisper;
$colorBgCard: $astral;



// Paths
// -------------------------

$pathTo_Fonts: "../font/";

// Font families
// -------------------------

$fontBase: Arial, Geneva, Helvetica, sans-serif;
$OpenSansBold: OpenSansBold, Geneva, Verdana, sans-serif;
$OpenSansLight: OpenSansLight, Geneva, Verdana, sans-serif;
$OpenSansRegular: OpenSansRegular, Geneva, Verdana, sans-serif;
$OpenSansSemiBold: OpenSansSemiBold, Geneva, Verdana, sans-serif;

// Font families button
// -------------------------
$fonntFamiliBtn: $OpenSansSemiBold;

// font heading
$fontHeading: $OpenSansSemiBold;

// Font sizes
// -------------------------

$fontSizeBase: 1.5rem;

// Line heights
// -------------------------

$lineHeightBase: 1.55;

// Borders
// -------------------------

$borderWhite: .7rem solid $white;
$borderCard: .6rem solid $arapawa;
$borderCardHover: .6rem solid $casablanca;

// Indents
// --------------------------------------------------

$containerIndent: 1.5rem;

// Container width
// --------------------------------------------------

$container: 117rem + $containerIndent * 2;
$containerSecondary: 96.8rem + $containerIndent * 2;


// Footer height
// --------------------------------------------------
$footer-height: 12rem;