// --------------------------------------------------
// Main Style
// --------------------------------------------------

// required
@import "core/core";

// Redefinition
// --------------------------------------------------

section, .header {
	position: relative;
}


// header
// --------------------------------------------------

.header {
	background-color: $headerOverColor;
	min-height: 62rem;
	padding-top: 5rem;

	@include maxScreen($middle) {
		padding-top: 2rem;
	}
}

.top-line__header {
	background-color: $topLineOverColor;
	line-height: 0;
	z-index: 2;


	@include maxScreen($middle) {
		padding: 0.4rem 0;
	}
}

.header__logo {
	display: inline-block;
	line-height: 0;

	svg {
		width: 19.5rem;
		height: 5.9rem;
		opacity: .9;
		transition: opacity .2s ease-out;

		&:hover {
			opacity: 1;
		}

		@include maxScreen($middle) {
			width: 16rem;
			height: 5rem;
		}
	}
}

.header__menu {
	text-align: justify;
	font-size: 0;
	padding: 0 1rem;

	&:after {
		display: inline-block;
		content: "";
		width: 100%;
		height: 0;
	}

	@include minScreen($extraLarge) {
		padding: 0 3rem;
	}
}

.menu__item {
	display: inline-block;
}


.menu__link {
	line-height: 1.5;
	font-size: 1.2rem;
	text-transform: uppercase;
	display: block;
	padding: 2.1rem 2rem;
	transition: all .2s ease-out;

	&:hover {
		background-color: lighten( $topLineOverColor, 25% );
	}
}

.wrapper-phone {
	@include maxScreen($middle) {
		text-align: center;
	}
}

.header__phone {
	color: $white;
	font-family: $OpenSansSemiBold;
	font-size: 1.8rem;
	line-height: 2.2;

	.fa {
		color: $casablanca;
		font-size: 3rem;
		position: relative;
		top: .4rem;
		margin-right: .5rem;

		@include maxScreen($small) {
			font-size: 2.5rem;
		}
	}

	@include maxScreen($small) {
		font-size: 1.5rem;
	}
}

.header__callback {
	color: lighten( $colorHeading, 80% );
	font-size: 1.2rem;
	line-height: 1.25;
	border-bottom: .1rem dotted lighten( $colorHeading, 85% );
	transition: all .2s ease-out;

	&:hover {
		color: $white;
		border-color: transparent;
	}

	@include maxScreen($middle) {
		font-size: 1.1rem;
	}
}

//title alignment
.wrapper_section-title {
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	.section-title_descr {
		display: table-row;

		.section-title_centered {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}
}

.title {
	display: inline-block;
	padding: 1rem 3.5rem;
	color: $colorTitle;
	border: $borderWhite;
	text-transform: uppercase;
	max-width: 55rem;
	font-size: 3rem;
	background-color: $headerOverColor;
	margin-bottom: 7%;
	animation-delay: 1s;

	@include maxScreen($middle) {
		font-size: 2.5rem;
		border: .5rem solid $white;
	}

	@include maxScreen($small) {
		font-size: 2.2rem;
		border: .4rem solid $white;
	}
}

.wrapper_mouse-icon {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 11%;
	z-index: 2;
}

.btn {
	animation-delay: 1.4s;

	@include maxScreen($small) {
		margin-top: 13%;
	}
}

.mouse-icon {
	animation-delay: 1.8s;
}


// Section_about
// --------------------------------------------------

.section__common {
	padding: 7rem 0 5rem;
	background-color: $sectBgColor;
}

.hr {
	margin-bottom: 3rem;
}


.cards {
	text-align: center;
	perspective: 60rem;

	.card {
		width: 26rem;
		display: inline-block;
		background-color: $colorBgCard;
		margin: 0 1.2rem;
		color: $colorTitle;
		font-size: 1.5rem;
		line-height: 2.2rem;
		padding: 5.4rem 2.8rem 4.5rem;
		vertical-align: top;
		border-bottom: $borderCard;
		transition: all 1.2s ease;

		@include maxScreen($large) {
			margin-bottom: 2rem;
		}

		&:hover {
			border-bottom: $borderCardHover;

			.card__icon {
				transform: scale(1.1);
			}
		}

		&-on {
			opacity: 1;
		}

		&-off {
			transform: rotateY(120deg);
			opacity: 0;
		}

		.card__icon {
			width: 12rem;
			height: 12rem;
			line-height: 12rem;
			display: inline-block;
			background-color: $casablanca;
			border-radius: 10rem;
			text-align: center;
			transition: all .5s ease;

			.icon-text {
				display: inline-block;
				font-size: 5rem;
				font-family: $OpenSansSemiBold;
			}

			.fa {
				line-height: 12rem;
			}

			.fa-group {
				font-size: 6rem;
			}

			.fa-clock-o {
				font-size: 10rem;
			}
		}

		.card__p {
			color: $colorTextCard;
			text-indent: unset;
			margin-bottom: 0;

			.sale {
				font-family: $OpenSansSemiBold;
				color: $casablanca;
			}
		}

		.h4 {
			margin-top: 3rem;
			margin-bottom: 1.8rem;
		}
	}
}

// Section button
// --------------------------------------------------

.section__button {
	padding: 5rem 0;
	text-align: center;
	background-color: $colorSectBgButton;

	.button__sect {
		margin-top: 0;
		animation-delay: .4s;
	}
}

// Section arrows
// --------------------------------------------------
.arrows {
	color: $colorTextArrow;
	font-family: $fontArrow;
	font-size: 1.6rem;
	text-align: center;
	padding-left: 4rem;


	.arrow {
		width: 29rem;
		height: 12.9rem;
		display: inline-block;
		position: relative;
		margin-left: -4rem;
		vertical-align: top;
		padding-left: 2rem;

		svg {
			position: absolute;
			top: 0;
			left: 0;
		}

		.arrow__content {
			line-height: 2.2rem;
			position: relative;
			z-index: 2;
			margin-left: 4rem;
			text-align: left;
			height: 12.9rem;

			&:before{
				content: "";
				display: inline-block;
				min-height: inherit;
				height: 100%;
				vertical-align: middle;
			}

			.wrapper-content {
				display: inline-block;
				vertical-align: middle;
				width: 22rem;

				.arrow__content-icon {
					float: left;
					font-size: 4rem;
					position: relative;
					margin-right: 3.2rem;
					margin-bottom: 1rem;
					height: 100%;
				}

				.text__number {
					font-size: 2.1rem;
					position: absolute;
					margin-left: -2.2rem;
				}
			}
		}
	}
}


// Footer
// --------------------------------------------------

.footer {
	background-color: $black;
	padding: 3rem 0;
}

.footer__logo {
	display: inline-block;

	svg {
		width: 19.5rem;
		height: 5.9rem;
		opacity: .7;
		transition: opacity .2s ease-out;

		@include maxScreen($small) {
			width: 15rem;
		}

		&:hover {
			opacity: 1;

			path + path {
				fill: $casablanca !important;
			}
		}
	}
}

.footer__social {
	padding: .9rem 0;
	text-align: right;
	vertical-align: middle;
	min-height: 5.9rem;

	@include maxScreen($small) {
		min-height: 5rem;
		padding: .8rem 0;
	}

	&::after {
		display: inline-block;
	}
}

.social__item {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 4rem;

	@include maxScreen($small) {
		width: 3rem;
	}
}

.social__link {
	line-height: 4.1rem;
	font-size: 2.2rem;
	color: $colorSocial;
	transition: all 0.2s ease-out;

	@include maxScreen($small) {
		line-height: 4.1rem;
		font-size: 1.7rem;
	}

	&:hover {
		color: $casablanca;
		font-size: 3rem;
	}
}
