// --------------------------------------------------
// Main Style
// --------------------------------------------------

// required
@import "core/core";

// Redefinition
// --------------------------------------------------

section, .header {
	position: relative;
}


// header
// --------------------------------------------------

.header {
	min-height: 62rem;
	padding-top: 5rem;
	background-color: $headerOverColor;
}

.header__logo{
		svg {
		width: 19.5rem;
		height: 5.9rem;
		opacity: .9;
		transition: opacity .2s ease-out;
		&:hover{
			opacity: 1;
		}
	}
}


// Footer
// --------------------------------------------------

.footer {
	background-color: $black;
	padding: 3rem 0;
}

.footer__logo {
	display: inline-block;

	svg {
		width: 19.5rem;
		height: 5.9rem;
		opacity: .7;
		transition: opacity .2s ease-out;
		&:hover{
			opacity: 1;
		}
	}
}


.footer__social {
	padding: .9rem 0;
	text-align: right;
	vertical-align: middle;
	min-height: 5.9rem;

	&::after {
		display: inline-block;
	}
}

.social__item {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 4rem;
}

.social__link {
	line-height: 4rem;
	font-size: 2.2rem;
	color: $colorSocial;
	transition: all 0.2s ease-out;

	&:hover {
		color: $white;
		font-size: 3rem;
	}
}
